body{
   background-image:url("https://cdn.wallpapersafari.com/99/80/IpEkdW.jpg");
   text-align : center;
}
h1{
font-size:50px;
}
.first{
font-size:50px;
color:white;
}
.second,h2{
  color : #464159;
}
.links{
  padding-left : 30px;
  text-align : center;
}
a{
  
  text-decoration:none;
  font-weight : bold;

}
.navbar{
    text-align : right;
    padding-top: 20px;
}
li{
   display : inline;
   padding: 15px;
   background-color:lightgrey;
   margin : 10px;
}
ul{
   list-style-type: none;

   }
a:hover{
color : white;
}
td{
  padding-left:10px;
}
.fruit{
 text-align:center;
}
.fruit a{
   color: #5c5959;
 }
.fruit a:hover{
   color :lightgrey;
}
#fruits{ 

  text-align:left;
 font-family: 'Ubuntu', sans-serif;
 font-size:20px;
  padding-right:20%;
  padding-left:30%;
} 
ol {
 margin:0;
 margin-left:400px;}
b{
  margin-left:40%;
}